/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html body {
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: 1rem;
  color: #212121;
  line-height: 1.5rem;
}
p.nav {
  color: #767676;
  line-height: 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  padding: 1rem 0;
}
h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white {
  color: #FFFFFF;
}
h1.green-text,
h2.green-text,
h3.green-text,
h4.green-text,
h5.green-text,
h6.green-text {
  color: #7CB342;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 0;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.75rem;
  font-weight: bold;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
h5 {
  font-size: 1.25rem;
  font-weight: bold;
}
.main-button {
  font-size: 1.5rem;
  border: 1px solid #7CB342;
  padding: 1rem;
  background: #7CB342;
  color: #FFFFFF;
  border-radius: 0.25rem;
  margin: 2rem 0;
}
.secondary-button {
  border: 1px solid #7CB342;
  padding: 0.8rem;
  border-radius: 0.25rem;
  color: #7CB342;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.jumbotron {
  height: 70vh;
  background: url("/img/jumbotron.jpg");
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.jumbotron .sub-jumbotron {
  padding: 2rem 10%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
header {
  width: 85%;
  margin: 0 auto;
  height: 5rem;
  padding: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header .nav-left {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 1rem;
}
header .nav-left .nav-item {
  position: relative;
  margin-left: 2rem;
}
header .nav-left .nav-item::before {
  content: "·";
  top: 0;
  left: -1rem;
  position: absolute;
}
header .title {
  flex-grow: 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
header .nav-right {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
header .nav-right .nav-item {
  margin-right: 2rem;
}
.window {
  width: 300px;
  height: 200px;
  border: 1px solid #d8d8d8;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: #f8f8f8;
  box-shadow: 5px 5px 15px #D0D0D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.buttons {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: #d8d8d8;
  flex-grow: 0.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.buttons div {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin: 0 0.1rem;
}
.red {
  background: red;
  margin-left: 0.2rem;
}
.yellow {
  background: #F7E76A;
}
.green {
  background: #63BB81;
}
.main-content {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.main-content .main-content-section {
  position: relative;
  padding: 0 3rem;
  width: 45%;
  height: 300px;
  border: 1px solid red;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.main-content .main-content-section.all-width {
  width: 90%;
  height: auto;
}
.main-content .main-content-section .window {
  width: 300px;
  height: 200px;
  border: 1px solid #d8d8d8;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: #f8f8f8;
  box-shadow: 5px 5px 15px #d0d0d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.main-content .main-content-section .window .buttons {
  flex-grow: 1;
}
.main-content .main-content-section .window .buttons div {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin: 0 0.1rem;
}
.main-content .main-content-section .window .buttons .red-button {
  background: red;
  margin-left: 0.2rem;
}
.main-content .main-content-section .window .buttons .yellow-button {
  background: #f7e76a;
}
.main-content .main-content-section .window .buttons .green-button {
  background: #63bb81;
}
.main-content .main-content-section .window .text {
  flex-grow: 9;
}
.main-content .main-content-section .window2 {
  position: absolute;
  top: 4.5rem;
  left: 4.5rem;
  z-index: 0;
}
.main-content .main-content-section .window3 {
  position: absolute;
  top: 7.5rem;
  left: 7.5rem;
  z-index: 0;
}
.main-content .main-content-section .window-alone {
  width: 400px;
  height: 300px;
}
.action-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
}
.action-item .action-item-top {
  height: 100px;
  background: #00A7B6;
  padding: 0 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.action-item .action-item-top::after {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #00A7B6;
  position: absolute;
  top: 75px;
  left: 20%;
  transform: rotate(45deg);
}
.action-item .action-item-bottom {
  height: 25rem;
  background: url('/img/action-item.jpg');
  background-size: cover;
  padding: 3rem 10%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
footer .footer-top {
  width: 100%;
  padding: 4rem 7.5%;
  background: #F4F9ED;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
footer .footer-top .footer-top-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
footer .footer-top .footer-top-header .social-media-nav {
  height: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
footer .footer-top .footer-top-header .social-media-nav img {
  height: 100%;
  width: auto;
}
footer .footer-top .footer-top-nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: spread-between;
  align-items: flex-start;
  border-left: 1px solid #E7EBE0;
  padding: 0 3rem;
}
footer .footer-bottom {
  width: 100%;
  padding: 1.5rem 7.5%;
  background: #E6F8FB;
  border-top: 1px solid #91E4EE;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .footer-nav-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .footer-nav-right .nav-item {
  position: relative;
  margin-left: 2rem;
}
footer .footer-bottom .footer-nav-right .nav-item::before {
  content: "·";
  top: 0;
  left: -1rem;
  position: absolute;
}
