.floating {
  .reduced-width();
  position: absolute;
  top: 375px;
  left: 7.5%;
  height: 250px;
  box-shadow: 0.1rem 0.1rem 1rem @gray-nav;
  .flex-settings(row, space-between, center);
  background-color: white;
  border-radius: 0.5rem;
  &.login-page {
    top: 100px;
    height: 500px;
  }
  @media @mobile {
    .flex-settings(column, space-between, center);
    flex-wrap: nowrap;
    top: 550px;
    height: 500px;
    z-index: 1;
  }
  .float-left-image {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    height: 250px;
    width: 30%;
    background-color: @background-blue-photo;
    .flex-settings(row, center, center);
    @media @mobile {
      width: 100%;
    }
    img {
      width: auto;
      height: 90%;
      margin: 0 auto;
    }
  }
  .float-right-text {
    width: 70%;
    padding: 2rem;
    .text-input-wrapper {
        position: relative;
      .text-input {
        display: block;
        border: 1px solid red;
        border-radius: 0.25rem;
        height: 3rem;
        width: 70%;
        margin: 1rem 0;
      }
      &::before {
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 1rem;
        background-color: @white;
        padding: 0 1rem;
      }
      &.text-input-email::before {
        content: "email";
      }
      &.text-input-password::before {
        content: "password";
      }
    }
    button {
        .main-button();
        width: 70%;
    }
    @media @mobile {
      width: 100%;
    }
  }
}
