* {
  box-sizing: border-box;
}

html body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1rem;
  color: @black-text;
  &.nav {
    color: @gray-nav;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  padding: 1rem 0;
  &.white {
    color: @white;
  }
  &.green-text {
    color: @main-green;
  }
}

h1 {
  .font-size(2.5rem);
  padding: 1rem 0;
}

h2 {
  .font-size(2rem);
}

h3 {
  .font-size(1.75rem);
}

h4 {
  .font-size(1.5rem);
}

h5 {
  .font-size(1.25rem);
}

.main-button {
  .main-button();
}

.secondary-button {
  .secondary-button();
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.jumbotron {
  height: 70vh;
  background: url("/img/jumbotron.jpg");
  background-size: cover;
  .flex-settings(row, flex-start, flex-start);
  .sub-jumbotron {
    padding-top: 2rem;
    padding-left: 10%;
    .flex-settings(column, center, flex-start);
  }
}

.main-content {
  .reduced-width();
  .flex-settings(row, center, center);
  .main-content-section {
    position: relative;
    padding: 0 3rem;
    width: 45%;
    height: 250px;
    border: 1px solid red;
    .flex-settings(column, space-evenly, flex-start);
    &.all-width {
      width: 90%;
      height: auto;
    }

    .window {
      width: 300px;
      height: 200px;
      border: 1px solid #d8d8d8;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      background: #f8f8f8;
      box-shadow: 5px 5px 15px #d0d0d0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;

      .buttons {
        flex-grow: 1;

        div {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          margin: 0 0.1rem;
        }

        .red-button {
          background: red;
          margin-left: 0.2rem;
        }
        .yellow-button {
          background: #f7e76a;
        }
        .green-button {
          background: #63bb81;
        }
      }
      .text {
          flex-grow: 9;
      }
    }
    .window2 {
        position: absolute;
        top: 4.5rem;
        left: 4.5rem;
        z-index: 0;
      }
    .window3 {
        position: absolute;
        top: 7.5rem;
        left: 7.5rem;
        z-index: 0;
      }
  }
}
