* {
    box-sizing: border-box;
}

html body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1rem;
    color: @black-text;
    .nav {
        color: @gray-nav;
    }
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    &.green {
        color: @main-green;
    }
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

.container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    background: yellow;
    height: 3rem;
    .flex-settings(row, space-between, center);
    .nav-left {
        flex-grow: 1;
        .flex-settings(row, space-evenly, flex-start);
        margin: 0 1rem;
        .nav-item {
            position: relative;
            &::before {
                content: '·';
                top: 0;
                left: -1.5rem;
                position: absolute;
            }
        }
    }
    .title {
        flex-grow: 3;
        .flex-settings(row, space-evenly, center);
    }
    .nav-right {
        flex-grow: 1;
        .flex-settings(row, space-evenly, center);
    }
}