header {
  // background: yellow;
  .reduced-width();
  height: 5rem;
  padding: 1rem 0;
  .flex-settings(row, space-between, center);
  &.login-page {
    @media @mobile, @tablet {
      height: 7rem;
    }
  }
  @media @small-desktop {
    p {
      font-size: 0.8rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  @media @mobile, @tablet {
    .flex-settings(column, center, center);
    width: 100%;
    height: 12rem;
    p {
      font-size: 1rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  .nav-left {
    flex-grow: 1;
    .flex-settings(row, flex-start, flex-start);
    margin: 0 1rem;
    .nav-item {
      .dot-before-nav-item();
    }
  }
  .title {
    flex-grow: 3;
    .flex-settings(row, space-evenly, center);
  }
  .nav-right {
    flex-grow: 1;
    .flex-settings(row, flex-end, center);
    .nav-item {
      margin-right: 2rem;
    }
    &.login-page {
      @media @mobile, @tablet {
        display: none;
      }
    }
  }
}
