.flex-settings(@direction, @justify-content, @align-items) {
    display:flex;
    flex-flow: @direction wrap;
    justify-content: @justify-content;
    align-items: @align-items;
}

.reduced-width() {
    width: 85%;
    margin: 0 auto;
}
